<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./libs/vue.js"></script>
    
</head>

<body>
    <div id="app">
        <input  type="text" v-model="v1" @change="opreratorchanged">
        <select  v-model='prerator' @change="opreratorchanged">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="v2" @change="opreratorchanged">

        <input type="text" v-model='result'>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                v1:0,
                prerator:'+',
                v2:0,
                result:0
            },
            methods: {
                opreratorchanged(){
                    this.result = eval('parseInt(this.v1)' + this.prerator + 'parseInt(this.v2)')
                }
            }
        })
    </script>
</body>

</html>